universality-metering-grading {
    position: absolute;
    display: none;
    left: 0;
    top: 100px;
    height: 200px;
    width: 500px;
    z-index: 1;
    background-color: hsl(0, 0%, 90%);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
