@import './area/area';
@import './buttons/buttons';
@import './header/header';

// universality-metering-grading {
//     position: absolute;
//     display: none;
//     // top/left to be dynamic
//     top: 100px;
//     left: 0;

//     width: 600px;
//     z-index: 1;
//     background-color: hsl(0, 0%, 90%);
//     box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
// }


.universality-metering-grading {
    height: 100%;
    width: 100%;

    // position: absolute;
    // display: none;
    // top/left to be dynamic
    top: 100px;
    left: 0;

    width: 600px;
    z-index: 1;
    background-color: hsl(0, 0%, 90%);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
