universality-metering-p {
    position: relative;
    display: block;
}


universality-metering-p:hover {
    universality-metering-grading {
        display: block;
    }

    universality-metering-p > p {
        cursor: pointer;
        background-color: hsl(0, 0%, 90%);
    }
}
