/*
    Switch for Numbers and Types
*/


.universality-metering-grading-header-switch {
    position: relative;
    display: inline-block;
    width: 36px;
    justify-self: center;
    height: 20px;
    margin: 0 5px;
}


.universality-metering-grading-header-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


.universality-metering-grading-header-slider {
    position: absolute;
    cursor: pointer;
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,1);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}


.universality-metering-grading-header-slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 3px;
    background-color: hsl(0, 0%, 10%);
    transition: .4s;
}


input:checked + .universality-metering-grading-header-slider:before {
    transform: translateX(18px);
}


.universality-metering-grading-header-slider.universality-metering-grading-header-slider-round {
    border-radius: 10px;
}


.universality-metering-grading-header-slider.universality-metering-grading-header-slider-round:before {
    border-radius: 50%;
}


.universality-metering-grading-header-switch-group {
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    user-select: none;
}
